---
import Layout from "../layouts/Layout.astro";

import TechArsenal from "../sections/TechArsenal.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
import About from "../sections/About.astro";
import Services from "../sections/Services.astro";
import Clients from "../sections/Clients.astro";
import Testimonials from "../sections/Testimonials.astro";
import WorkProcess from "../sections/WorkProcess.astro";
import FollowMe from "../sections/FollowMe.astro";
import Contact from "../sections/Contact.astro";
import Nav from "../sections/Nav.astro";
---

<Layout title="Template - Portfolio | PaulDev">
	<section class="container">
		<Nav />
		<About />
		<Hero />
		<Clients />
		<TechArsenal />
		<Projects />
		<Services />
		<Testimonials />
		<WorkProcess />
		<FollowMe />
		<Contact />
	</section>
</Layout>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(21, 1fr);
		gap: .75rem;
	}

	@media screen and (min-width: 810px) {
		.container {
			grid-template-rows: repeat(21, 1fr);
		}
		
	}
</style>
