---
import Layout from "../layouts/Layout.astro";

import TechArsenal from "../sections/TechArsenal.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
import About from "../sections/About.astro";
import Services from "../sections/Services.astro";
import Clients from "../sections/Clients.astro";
import Testimonials from "../sections/Testimonials.astro";
import WorkProcess from "../sections/WorkProcess.astro";
import FollowMe from "../sections/FollowMe.astro";
import Contact from "../sections/Contact.astro";
import Nav from "../sections/Nav.astro";
---

<Layout title="Template - Portfolio | PaulDev">
	<section class="grid grid-cols-1 grid-row-2 gap-3 2xl:grid-cols-[1.45fr_1fr]">
		<Nav />
		<div class="prim h-full">
			<div class="pri-izq order-1 md:order-2 w-full min-h-[680px] grid grid-cols-1 grid-rows-[auto_auto_1fr] gap-3">
				<About />
				<Hero />
				<Clients />
			</div>
			<div class="pri-der order-2 md:order-1 w-full min-h-[680px] grid grid-cols-1 grid-rows-3 gap-3">
				<TechArsenal />
				<Projects />
				<Services />
			</div>
		</div>

		<div class="ultimo flex flex-col gap-y-3 h-full">
			<div class="ultimo-pri grid grid-cols-1 gap-3">
				<Testimonials />
				<WorkProcess />
			</div>
			<div class="ter grid grid-cols-1 grid-row-2 gap-3">
				<FollowMe />
				<Contact />
			</div>
		</div>
	</section>
</Layout>

<style>
	.prim {
		display: grid;
		grid-template-columns: 1fr;
		gap: .75rem;
	}
	

	@media screen and (min-width: 810px) {
		.prim {
			grid-template-columns: 1fr 1.45fr;
		}

		.ultimo-pri {
			grid-template-columns: 1.45fr 1fr;
		}
		.ter {
			grid-template-columns: 1fr 1.45fr;
		}
	}

	/* @media screen and (min-width: 1440px) {
		.section-main {
			grid-template-columns: 1.45fr 1fr;
		}
	} */
</style>