---
interface Props {
    text: string;
    href: string;
}

const { text, href } = Astro.props;
---

<div class="rounded-lg relative overflow-hidden container-links w-full h-full">
    <a
        class="bg-smoke-800 absolute inset-[1px] flex items-center justify-center rounded-lg gap-x-2 link transition-colors duration-300 ease-in-out hover:bg-smoke-700"
        href={href}
    >
        <slot name="icon" />
        <span class="text-neutral-400 font-medium">{text}</span>
    </a>
</div>

<style>
    .container-links::before {
        content: "";
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        border-radius: inherit;
        width: 4rem;
        height: 4rem;
        background: rgb(255, 255, 255);
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0.3) 18%,
            rgba(255, 255, 255, 0) 59%
        );
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .container-links:has(.link:hover)::before {
        opacity: 1;
        animation: recorrido 3.5s linear infinite both;
    }

    @keyframes recorrido {
        12.5% {
            top: -2rem;
            left: -2rem;
        }
        37.5% {
            top: -2rem;
            left: calc(100% - 2rem);
        }
        62.5% {
            top: calc(100% - 2rem);
            left: calc(100% - 2rem);
        }
        87.5% {
            top: calc(100% - 2rem);
            left: -2rem;
        }
        100% {
            top: 0.25rem;
            left: -2rem;
        }
    }
</style>
