---
// icons
import Facebook from "../../public/icons/clients/Facebook.astro";
import Spotify from "../../public/icons/clients/Spotify.astro";
import TikTok from "../../public/icons/clients/TikTok.astro";
import Twitter from "../../public/icons/clients/Twitter.astro";
import Youtube from "../../public/icons/clients/Youtube.astro";
---

<div class="relative overflow-hidden">
    <div
        class="absolute inset-0 z-10"
        style="background: linear-gradient(90deg, #101010 3%, #10101010 15%, #10101010 85%, #101010 97%);"
    >
    </div>
    <div class="w-full h-full">
        <ul class="flex items-center gap-3 animate-loop w-max">
            <li><figure><Facebook class="icon" /></figure></li>
            <li><figure><Spotify class="icon" /></figure></li>
            <li><figure><TikTok class="icon" /></figure></li>
            <li><figure><Twitter class="icon" /></figure></li>
            <li><figure><Youtube class="icon" /></figure></li>
            <li><figure><Facebook class="icon" /></figure></li>
            <li><figure><Spotify class="icon" /></figure></li>
            <li><figure><TikTok class="icon" /></figure></li>
            <li><figure><Twitter class="icon" /></figure></li>
            <li><figure><Youtube class="icon" /></figure></li>
        </ul>
    </div>
</div>

<style>
    li {
        @apply border border-smoke-700 bg-smoke-800 rounded-lg text-smoke-800;

        figure{
            @apply w-28 h-full p-2 px-4 flex items-center;
        }
    }
    .icon {
        @apply w-full h-full fill-neutral-400;
    }

    .animate-loop {
        --extra-width: 6px;
        animation-duration: 18s;
    }
</style>
