---
// icons
import Instagram from "../../public/icons/clients/Instagram.astro"
import Snapchat from "../../public/icons/clients/Snapchat.astro"
import Dribbble from "../../public/icons/clients/Dribbble.astro"
import Pinterest from "../../public/icons/clients/Pinterest.astro"
import Discord from "../../public/icons/clients/Discord.astro"
---

<div class="relative overflow-hidden">
    <div
        class="absolute inset-0 z-10"
        style="background: linear-gradient(90deg, #101010 3%, #10101010 15%, #10101010 85%, #101010 97%);"
    >
    </div>
    <div class="w-full h-full">
        <ul class="flex items-center gap-3 animate-loop-reverse">
            <li><figure><Instagram class="icon" /></figure></li>
            <li><figure><Snapchat class="icon" /></figure></li>
            <li><figure><Dribbble class="icon" /></figure></li>
            <li><figure><Pinterest class="icon" /></figure></li>
            <li><figure><Discord class="icon" /></figure></li>
            <li><figure><Instagram class="icon" /></figure></li>
            <li><figure><Snapchat class="icon" /></figure></li>
            <li><figure><Dribbble class="icon" /></figure></li>
            <li><figure><Pinterest class="icon" /></figure></li>
            <li><figure><Discord class="icon" /></figure></li>
        </ul>
    </div>
</div>

<style>
    li {
        @apply border border-smoke-700 bg-smoke-800 rounded-lg text-smoke-800;

        figure{
            @apply w-28 h-full p-2 px-4 flex items-center;
        }
    }
    .icon {
        @apply w-full h-full fill-neutral-400;
    }

    .animate-loop-reverse {
        --extra-width: 7.8rem;
    }
</style>
