---
import Location from "../../public/icons/about/Location.astro"
import Language from "../../public/icons/about/Language.astro"
import Clock from "../../public/icons/about/Clock.astro"
import Studies from "../../public/icons/about/Studies.astro"
import University from "../../public/icons/about/University.astro"
import GoodBoy from "../../public/icons/about/GoodBoy.astro"
---
<ul class="w-full flex flex-wrap gap-3">
    <li>
        <Location />
        <span>London</span>
    </li>
    <li>
        <Language />
        <span>English & Tamil</span>
    </li>
    <li>
        <Clock />
        <span>IST</span>
    </li>
    <li>
        <Studies />
        <span>Software Engineer</span>
    </li>
    <li>
        <University />
        <span>MIT University</span>
    </li>
    <li>
        <GoodBoy />
        <span>Good Boy</span>
    </li>
</ul>

<style>
    ul li {
        @apply flex items-center gap-x-1 px-2 py-1 rounded-full bg-smoke-700 font-medium text-[13px];

        svg{
            @apply w-4 fill-central-400;
        }
    }
</style>