---
import HeaderCards from "../components/HeaderCards.astro";

// icons
import Rocket from "../../public/icons/clients/Rocket.astro";
import ClientsFirst from "../components/ClientsFirst.astro";
import ClientsSecond from "../components/ClientsSecond.astro";
---

<article
    class="bg-smoke-900 rounded-xl py-4 border border-smoke-700 order-3 flex flex-col w-full h-full"
>
    <HeaderCards title="Satisfied Partners" subtitle="My Clients">
        <Rocket class="w-5 fill-central-400" slot="icon" />
    </HeaderCards>
    <div class="w-full h-full py-5 flex flex-col gap-3 overflow-hidden relative">
        <!-- <ClientsFirst /> -->
        <!-- <ClientsSecond /> -->
    </div>
</article>
