---
import HeaderCards from "../components/HeaderCards.astro"

// icons
import Rocket from "../../public/icons/clients/Rocket.astro"
---
<article class="bg-secundario col-span-5 row-span-3 rounded-xl py-4 border border-terciario order-4 md:order-6 md:col-span-3 md:row-span-2">
    <HeaderCards title="Satisfied Partners" subtitle="My Clients">
        <Rocket class="w-5 fill-central-400" slot="icon" />
    </HeaderCards>
    <div class="w-full slider infinite"></div>
</article>