---
import HeaderCards from "../components/HeaderCards.astro";
import ClientsFirst from "../components/ClientsFirst.astro";
import ClientsSecond from "../components/ClientsSecond.astro";

// icons
import Rocket from "../../public/icons/clients/Rocket.astro";
---

<article
    class="bg-smoke-900 rounded-xl py-4 border border-smoke-700 order-3 flex flex-col w-full h-full"
>
    <HeaderCards title="Satisfied Partners" subtitle="My Clients">
        <Rocket class="w-5 fill-central-400" slot="icon" />
    </HeaderCards>
    <div class="w-full h-full py-3 relative overflow-hidden flex flex-col gap-y-4 bg-red-500/1">
        <ClientsFirst />
        <ClientsSecond />
    </div>
</article>
