---
import CardHero from "../components/CardHero.astro"
import Flag from "../../public/icons/Flag.astro"
import Happy from "../../public/icons/Happy.astro"
import Star1 from "../../public/icons/Star1.astro"
import Download from "../../public/icons/about/Download.astro"
---
<article class="rounded-xl grid grid-cols-2 grid-rows-2 gap-3 order-2 md:order-1 md:grid-cols-3 md:grid-rows-1 w-full h-min">
    <CardHero number="56" word="Projects">
        <Flag class="w-5 fill-central-400" slot="icon"/>
    </CardHero>
    <CardHero number="23" word="Happy Clients">
        <Happy class="w-5 fill-central-400" slot="icon"/>
    </CardHero>
    <CardHero number="06" word="Years Expertise">
        <Star1 class="w-5 fill-central-400" slot="icon"/>
    </CardHero>
    <div class="bg-smoke-800 border border-smoke-700 rounded-xl relative p-2 overflow-hidden md:hidden transition-colors duration-300 ease-in-out download-card">
        <a
            class="w-full h-full flex items-center justify-center font-medium gap-2 relative z-10"
            href="/cvs/PaulDev-Porfolio.pdf"
            download="PaulDev-Porfolio.pdf"
            target="_blank"
        >Resume
            <span class="w-10 p-2 bg-smoke-500 rounded-lg">
                <Download class="w-full fill-neutral-300" />
            </span>
        </a>
        <div class="absolute inset-0 [background:linear-gradient(0deg,#101010_5%,#20202010)_60%]"></div>
    </div>
</article>

<style>
    .download-card:has(a:hover) {
        background-color: #202020;
    }
</style>