---
import HeaderCards from "../components/HeaderCards.astro"
import ButtonPages from "../components/ButtonPages.astro"

// icons
import NavServices from "../../public/icons/NavServices.astro"
import ClientsFirst from "../components/ClientsFirst.astro"
import ClientsSecond from "../components/ClientsSecond.astro"
---
<article class="bg-smoke-900 rounded-xl py-4 border border-smoke-700 order-3 flex flex-col w-full">
    <HeaderCards title="Solution Suite" subtitle="Services">
        <NavServices class="w-5 fill-central-400" slot="icon" />
    </HeaderCards>
    <div class="w-full h-full py-4 relative overflow-hidden flex flex-col gap-y-4">
        <!-- <ClientsFirst /> -->
        <!-- <ClientsSecond /> -->

        <ButtonPages text="View All Services" />
    </div>
</article>