---
interface Props {
	title: string;
	shouldRenderComponent?: boolean;
}

const { title } = Astro.props;

// fonts
import '@fontsource-variable/manrope'; // 200 - 800

// components
import Footer from '../sections/Footer.astro';
import Nav from '../sections/Nav.astro';

const { shouldRenderComponent = true } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-smoke-950 text-sm min-h-screen flex items-center">
		<div class="w-11/12 max-w-[400px] md:max-w-[870px] 2xl:max-w-[1422px] mx-auto py-4">
			<main class="w-full h-full flex flex-col gap-3">
				{
					shouldRenderComponent && (<Nav />)
				}
				<slot/>
				<!-- <Footer/> -->
			</main>
		</div>
	</body>
</html>
<style is:global>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html, body {
		font-family: 'Manrope Variable', sans-serif;
		scrollbar-width: thin;
		scrollbar-color: #a291fd #050505;
		color: #f4f3ff;
	}
</style>